@font-face {
  font-family: Agrandir;
  font-style: italic;
  font-weight: 100;
  src: url("/public/fonts/Agrandir-ThinItalic.otf");
}
@font-face {
  font-family: Agrandir;
  font-weight: 300;
  src: url("/public/fonts/Agrandir-WideLight.otf");
}
@font-face {
  font-family: Agrandir;
  font-weight: 400;
  src: url("/public/fonts/Agrandir-Regular.otf");
}
@font-face {
  font-family: Agrandir;
  font-weight: 700;
  src: url("/public/fonts/Agrandir-TextBold.otf");
}
@font-face {
  font-family: Agrandir;
  font-weight: 800;
  src: url("/public/fonts/Agrandir-GrandHeavy.otf");
}
@font-face {
  font-family: AgrandirNarrow;
  font-weight: 400;
  src: url("/public/fonts/Agrandir-Narrow.otf");
}

:root {
  --clr-neutral-100: #fff9e5;
  --clr-primary-900: #222222;

  --ff-base: Agrandir, san-serif;
  --ff-narrow: AgrandirNarrow, Agrandir, san-serif;

  --fw-wide-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-grand-heavy: 800;

  --fs-100: 1.25rem;
  --fs-200: 1.5rem;
  --fs-300: 1.75rem;
  --fs-400: 1.875rem;
  --fs-500: 2rem;
  --fs-600: 2.625rem;
  --fs-900: 6.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* html {
  color-scheme: light dark;
} */

body {
  margin: 0;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-family: var(--ff-base);
  font-size: var(--ff-regular);
  font-weight: var(--ff-regular);
  line-height: 1.5;
}

main {
  max-width: 946px;
  margin-inline: auto;
  padding-top: 233px;
}

h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-grand-heavy);
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1;
  letter-spacing: -0.01em;
  z-index: 1;
  position: relative;
}

h1:nth-child(odd) {
  text-align: left;
}

.hero-container {
  position: relative;
}
.hero-container > img {
  z-index: 0;
}

.title-star {
  position: absolute;
  top: -149px;
  left: 149px;
}
.title-dropper {
  position: absolute;
  top: 210px;
  right: 160px;
}
.title-finger_pointing {
  position: absolute;
  bottom: -37px;
  left: 37px;
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1137px;
  top: 56px;
  right: 50%;
  transform: translateX(50%);
  margin-inline: auto;
  position: absolute;
  align-items: flex-start;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li {
  font-family: var(--ff-base);
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 12px;
  color: var(--clr-primary-900);
}

.active {
  font-style: italic;
  width: fit-content;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-weight: 100;
}
.aboutme-container {
  margin-top: 160px;
  display: flex;
  padding-right: 1px;
  gap: 25px;
  align-items: flex-start;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 17px;
  color: var(--clr-primary-900);
}
p {
  font-family: var(--ff-base);
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.contact-cloud__container {
  height: 40px;
  width: 100%;
  padding-inline: calc(calc(100vw - 1140px) / 2);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.contact-cloud {
  transform: translateY(-100%);
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-900);
  border-radius: 100%;
  border-bottom-right-radius: 0;
}

.contact-cloud > p {
  margin: 0;
  text-align: center;
  font-weight: var(--fw-regular);
  font-size: 20px;
  line-height: 20px;
  color: var(--clr-neutral-100);
}
